.env
.env.*
!.env.example

node_modules/
vendor/

.next/
dist/
build/

storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

*.log
.DS_Store
Thumbs.db
